<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sanfanerp.hawk" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="android-minSdkVersion" value="19" />
    <preference name="DisallowOverscroll" value="true" />
    <hook src="hooks/hookers.js" type="before_prepare" />
    <hook src="hooks/beforedep.js" type="before_deploy" />
    <name>三帆外勤</name>
    <description>
        三帆外勤，最好用的外勤管理软件。
    </description>
    <author email="dev@sanfanerp.com" href="http://sanfanerp.com">
        三帆软件
    </author>
    <content src="index.html" />
    <preference name="Orientation" value="portrait" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="loadUrlTimeoutValue" value="700000" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" />
        <splash density="port-hdpi" src="res/screen/640×1136.png" />
        <splash density="port-ldpi" src="res/screen/720×1280.png" />
        <splash density="port-mdpi" src="res/screen/750×1334.png" />
        <splash density="port-xhdpi" src="res/screen/1080×1920.png" />
        <splash density="port-xhdpi" src="res/screen/1242×2208.png" />
    </platform>
    <platform name="ios">
        <icon height="180" src="res/icon/ios/Icon-60@3x.png" />
        <icon height="120" src="res/icon/ios/Icon-Small-40@3x.png" width="120" />
        <icon height="80" src="res/icon/ios/Icon-Small-40@2x.png" width="80" />
        <icon height="87" src="res/icon/ios/Icon-Small@3x.png" width="87" />
        <icon height="58" src="res/icon/ios/Icon-Small@2x.png" width="58" />
        <splash height="800" src="res/screen/480×800.png" width="480" />
        <splash height="960" src="res/screen/640×960.png" width="640" />
        <splash height="1136" src="res/screen/640×1136.png" width="640" />
        <splash height="1280" src="res/screen/720×1280.png" width="720" />
        <splash height="1334" src="res/screen/750×1334.png" width="750" />
        <splash height="1920" src="res/screen/1080×1920.png" width="1080" />
        <splash height="2208" src="res/screen/1242×2208.png" width="1242" />
        <splash height="2436" src="res/screen/1125×2436.png" width="1125" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
            <string>三帆外勤软件需要打开手机拍照功能</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
            <string>三帆外勤软件需要访问相册</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
            <string>三帆外勤软件需要打开地理位置功能</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationAlwaysUsageDescription">
            <string>三帆外勤软件需要打开地理位置功能</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>三帆外勤软件需要打开地理位置功能</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryAddUsageDescription">
            <string>三帆外勤软件需要把图片保持到相册</string>
        </edit-config>
    </platform>
    <allow-navigation href="*" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-call" spec="^1.1.6" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-camera" spec="^4.0.3" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="cordova-plugin-signature-fingerprint" spec="^1.0.23" />
    <plugin name="cordova-plugin-permission" spec="^0.1.0" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-local-notification" spec="^0.9.0-beta.2" />
    <plugin name="cordova-open-native-settings" spec="^1.5.2" />
    <plugin name="cordova-plugin-alipay-v2" spec="^1.0.0">
        <variable name="APP_ID" value="2019010862805521" />
    </plugin>
    <plugin name="cordova-plugin-wechat" spec="^2.6.0">
        <variable name="WECHATAPPID" value="wx440e75ebc6efa0ab" />
    </plugin>
    <plugin name="cordova-plugin-calllog" spec="^1.3.1" />
    <plugin name="jpush-phonegap-plugin" spec="^3.6.2">
        <variable name="APP_KEY" value="f4670bd35855482ce09f4b28" />
    </plugin>
    <plugin name="cordova-plugin-file-downloader" spec="^0.4.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="cordova-plugin-auto-update" spec="https://github.com/sanfanerp/cordova-plugin-auto-update.git" />
    <plugin name="cordova-media-with-compression" spec="^2.1.2" />
    <plugin name="cordova-amap-track" spec="./plugins_package/cordova-amap-track">
        <variable name="ANDROID_KEY" value="2e361805b37af1af14a7f2122782e1f7" />
        <variable name="IOS_KEY" value="d901b0189500479f3f8602842cbd0b2a" />
    </plugin>
    <engine name="browser" spec="^5.0.4" />
    <engine name="ios" spec="^4.5.5" />
    <engine name="android" spec="^7.1.4" />
</widget>
